h1{
    color: red;
    text-align:center;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 6px yellow;
    letter-spacing: 2px;
}
p{
    font-family: 'Roboto', sans-serif;
    color: green;
    line-height: 20px;
}
body{
    background-color: sandybrown;
    text-align: center;
}
ul{
    display: table;
    margin: 0 auto;
    text-align: center;
}