div{
    text-align: center;
}
h1{
    color: black;
    text-align:center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.parent{
    display: flex;
    margin: 80px;
    flex-direction: row;
    justify-content: space-around;
}
.child{
    width:400px;
    height:450px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px black;
    text-align: center;
    display:flexbox;
    flex-direction: column;
    
}
.child button{
    background-color: green;
    color: white;
    padding: 8px;
    width: 30%;
    margin:auto;
    letter-spacing: 1px;
    border-radius: 4px;
}
